body {
  background-color: rgb(53, 52, 58);
}

#header {
  background-color: rgb(230, 223, 215);
  margin-top: 10%;
  padding: 10%;
}
#header .col-6 img {
  width: 100%;
}
.sections {
  background-color: rgb(226, 226, 236);
  padding: 10%;
}
.sections h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;;
}
#projects li {
  display: block;
  width: 30%;
  padding-right: 2%;
  border: solid red 1px;
  float: left;
}