/* default styles */
body {
  background-color: #ffffff;
}
.container {
  padding: 0;
  margin: 0;
  overflow: auto;
  margin: auto;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.sections {
  background-color: rgb(226, 226, 236);
  padding: 10%;
}
.sections h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;;
}
span {
  color: green;
  font-weight: bold;
}

/* side navigation bar styles */
.sidenavbar {
  width: 20%;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding: 2% 0 0 3%;
  box-sizing: border-box;
  background-color: #00AAA0;
  color: #ffffff;
  border-right: #85659e 5px solid;
}
.sidenavbar h3 {
  color: #462066;
}
.sidenavbar ul {
  padding-left: 0;
  margin-bottom: 15%;
}
.sidenavbar ul li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-indent: 0;
  font-size: larger;
  padding-bottom: 21;
}
.sidenavbar ol {
  padding-left: 7%;
}
.sidenavbar h3 {
  padding-bottom: 2%;
  font-size: xx-large;
}

/* main content styles */
.content {
  padding-left: 25%;
  background-color: ;
}
#header h2 {
  color: #00AAA0;
  font-weight: bolder;
  font-style: italic;
}
#header h3 {
  color: #462066;
  font-size: x-large;
}

/* header styles */
#header {
  padding: 10%;
}
#header .col-6 img {
  width: 100%;
}

/* about sytyles */
#about {
  background-color: #f1efe7;
}

/* project styles */
#projects {
<<<<<<< HEAD
  background-color: #A3D6F5;
  overflow: auto;
}
#project ul {
  padding-bottom: 10%;
  display: block;
=======
}
.sections {
  padding: 5% 10% 10% 10%;
}
.sections h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
  padding-bottom: 2%;
  color: #00AAA0;
  text-align: left;
  text-indent: 2%;
  border-bottom: 2px #00AAA0 dotted;
>>>>>>> color-test
}
#projects li {
  display: block;
  width: 50%;
  padding-right: 2%;
  padding-bottom: 2%;
  float: left;
  box-sizing: border-box;
}
<<<<<<< HEAD



=======
#project ul {
  padding-bottom: 10%;
  display: block;
}
#projects {
  overflow: auto;
}
span {
  color: green;
  font-weight: bold;
}
.sections ul {
  list-style-type: none;
  padding-left: 0;
}
.sections ul li {
  margin-bottom: 6%;
}
>>>>>>> color-test
